.body-main {
  margin: 0;
  background: linear-gradient(137deg, #020202, #161615, #0e0e0d);
  padding: 0;
}

/*navbar*/
.navbar {
  width: 100%;
  height: max-content;
  background-color: #131313;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #131313;
  margin-top: 0%;
}

.navbar-menu {
  list-style-type: none;
  padding-left: 0%;
  margin-bottom: 0%;
  background-color: #131313;
}

.navbar-menu li {
  display: inline-block;
}

.navbar-menu li a {
  display: inline-block;
  color: #e4e4e4;
  opacity: 0.6;
  text-decoration: none;
  padding: 10px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 100;
  font-size: 15px;
  margin-right: 30px;
}

.navbar-portfolio .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e4e4e4;
  margin-top: 0%;
}
.navbar-menu-portfolio {
  list-style-type: none;
  padding-left: 0%;
  margin-bottom: 0%;
  background-color: #e4e4e4;
}

.navbar-menu-portfolio li {
  display: inline-block;
}

.navbar-menu-portfolio li a {
  display: inline-block;
  color: #000000;
  opacity: 0.6;
  text-decoration: none;
  padding: 10px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 100;
  font-size: 15px;
  margin-right: 30px;
}

.navbar-menu li a:hover {
  opacity: 1;
  transition: all 0.09s ease-in-out;
}

.navbar-wrap {
  display: flex;
  flex-flow: row wrap;
}

.navbar-brand {
  font-size: 26px;
  text-decoration: none;
  color: #c4c3c3;
  margin: 10px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
}

.navbar-brand:hover {
  color: rgb(193, 193, 193);
  transition: all 0.09s ease-in-out;
}

.text-main {
  color: #c4c3c3;
  display: flex;
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 100;
  width: 70%;
  min-width: 200px;
  text-align: justify;
  margin-left: 15%;
  justify-content: center;
  opacity: 0.5;
}

.text-title {
  color: #c4c3c3;
  display: flex;
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  justify-content: center;
}

.photo-main {
  margin-top: 50px;
  width: 70%;
  display: flex;
  margin-left: 15%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.title-main {
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  color: #c4c3c3;
  text-align: center;
  width: 80%;
  float: left;
}

.main {
  float: left;
  /*Задаем обтекание*/
  width: 100%;
  /*Фиксируем ширину блока*/
}

.right-menu {
  color: #c4c3c3;
  width: min-content;
  height: 100vh;
  float: right;
  margin-top: 5%;
}

#right-menu {
  background-color: black;
  opacity: 0;
}

.points {
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
  color: #c4c3c3;
  display: block;
  padding: 12px;
  padding-left: 30px;
  text-decoration: none;
  outline: none;
  opacity: 0.7;
  transition: all 0.09s ease-in-out;
}

/* Div link on hover */
.points:hover {
  color: rgb(193, 193, 193);
  position: relative;
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
  opacity: 1;
  transition: all 0.09s ease-in-out;
}

/*footer*/
.footer-container {
  display: inline-block;

  padding: 1%;

  background-color: #10100f;
  color: #c4c4c3;
  width: 90vw;
  height: max-content;

  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
  font-weight: 100;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

.row div {
  width: max-content;
  margin-left: 5%;
  margin-right: 5%;
  opacity: 0.5;
}

.container-main {
  /*шекарно, не трогать! выравнивает и адаптирует правое меню и основной текст и фото*/
  display: flex;
  flex-grow: column nowrap;
}

.portfolio-main-container {
  display: inline-flex;
  flex-grow: column wrap;
  color: #c4c4c3;
  width: 100vw;
}

.img-portfolio {
  position: relative;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  opacity: 70%;
}

.img-portfolio {
  width: 100%;
  border-radius: 15px;
  background-image: img-portfolio;
  z-index: -3;
}

.text-portfolio {
  width: 90%;
  color: #c4c4c3;
  align-content: center;
}

.text-about-me {
  position: absolute;
  top: 200px;
  width: 70%;
  margin-left: 15%;
  font-size: 26px;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 5%;
  text-align: center;
  border: 1px solid #c4c4c3;

  border-radius: 8px;
  padding-bottom: 5%;
}

.text-about-me h1 {
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  position: relative;
  z-index: 10;
}

.text-about-me h1::before {
  content: "";
  position: absolute;
  left: 7%;
  bottom: 16px;
  width: 20%;
  height: 14px;
  transform: skew(-22deg) translateX(-70%);
  background: #7376ca;
  z-index: -1;
}

.text-main-portfolio {
  display: flex;
  justify-content: end;
  font-size: 20px;
  font-weight: 100;
  text-align: justify;
  width: 50%;
  margin-left: 25%;
}

.text-main-portfolio p {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  margin: 20px;
}

.text-more {
  margin-top: 10%;
  font-size: 20px;
  font-weight: 100;
  text-align: justify;
  color: #c4c3c3;
}

.text-more > p {
  text-align: center;
  font-size: 25px;
  font-weight: 400;
  background-color: #32335a;
  border-radius: 8px;
}

.text-more img {
  display: inline-flex;
  justify-content: center;
  width: 30px;
  margin-right: 5px;
}

.text-more li {
  margin-left: -15px;
}

.contacts div {
  display: flex;
  flex-wrap: nowrap;
}

.table-name {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}

.table {
  white-space: wrap;
  margin-top: 10%;
  width: 50%;
  margin-left: 10%;
  text-align: justify;
  justify-content: flex-end;
  font-size: 16px;
  font-weight: 100;
  line-height: 25px;
}

.link-tezis a {
  text-decoration: none;
  color: #c4c4c3;
}

.link-tezis a:hover {
  color: #32335a;
}

.body-new-portfolio {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}
.text-navb {
  position: relative;
  height: 100vh;
  top: 0;
  background-color: #32335a;
  background-image: url(gifs/liddrivencavity.gif);
  padding: 30px;
}

.text-name {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;

  width: 50%;
  min-width: 350px;
  height: 200px;

  margin-left: 25%;
  margin-top: 30px;

  background-color: #f8f5f5;
  border: 1px solid rgb(120, 108, 108);
  border-radius: 16px;

  font-weight: 600;

  z-index: 1;
}
.text-name h1 {
  display: block;
  font-size: 30px;
  margin-top: 30px;
}
.text-name ::before {
  content: "";
  position: absolute;
  left: 7%;
  bottom: 16px;
  width: 20%;
  height: 14px;

  transform: skew(-22deg) translateX(-70%);
  background: #7376ca;
  z-index: -1;
}

/*набор текста печатная машинка*/
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text h2 {
  margin-bottom: 30px;
  margin-top: 10px;
  display: flex;
  color: #7376ca;
  font-family: monospace;
  font-size: 30px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid #7376ca;
  width: 18ch;
  animation: cursor 0.75s step-end infinite, printed-text 3s steps(18);
}

@keyframes cursor {
  0% {
    border-color: #7376ca;
  }
  50% {
    border-color: transparent;
  }
  100% {
    border-color: #7376ca;
  }
}
@keyframes printed-text {
  from {
    width: 0;
  }
}

/*parallax*/
.wrapper-parallax {
  margin: 0 auto;
  margin-top: 5rem;
  display: grid;
  place-items: center;
  width: 100%;
}
.button {
  display: grid;
  place-items: center;

  width: max-content;
  height: 50px;
  color: rgb(2, 23, 43);
  background-color: #ffffff;
  border: 1px solid rgb(62, 62, 62);
  border-radius: 4px;
  cursor: pointer;
  
  margin: 20px;
  
  box-shadow: 0px 5px 10px 0px rgba(0,0, 0, 0.5);
}
.a{
text-decoration: none;

}
.button:hover{
  background-color: #d0d2df;
  transition: background-color 0.135s ease-in-out;
}
.title {
  margin: 3px;
}
.circle {
  position: absolute;
  top: 3rem;
  right: 3rem;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: rgb(135, 179, 255);

  
  box-shadow: 0px 10px 5px 0px rgba(0,0, 0, 0.4);
}
.circle2 {
  position: absolute;
  bottom: 5rem;
  right: 6rem;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgb(23, 37, 171);

  
  box-shadow: 0px 10px 5px 0px rgba(0,0, 0, 0.4);
}
.circle3 {
  position: absolute;
  bottom: 1rem;
  left: 6rem;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgb(9, 16, 79);
  
  box-shadow: 0px 10px 5px 0px rgba(0,0, 0, 0.4);
}

.parallax {
  width: 70%;
  padding: 5rem;
  min-height: 10rem;
  position: relative;
  overflow: hidden;
}
.parallax__layer {
  transition: transform 0.3s linear;
  z-index: -1;
}
.more-info{
  display: flex;
  justify-content: center;
  width: 50%;
  margin-left: 25%;
  margin-top: 30px;

  border-radius: 8px;
}
.photo-portfolio{
  width: 50%;
}
#more-text-interesting{
  display: none;
}